extends ../layout

block content
  a(href="/surveys") Go Back

  h1 Create a Survey
  form(method="post")
    input(type="text" name="title" placeholder="Title of survey")
    input(type="text" name="hero" placeholder="hero image url")
    textarea(name="authors" rows="3" placeholder="Authors, one per line")
    textarea(name="content" rows="10" placeholder="Content goes here")

    button(type="submit") Submit Form